.page-wrapper {
  max-width: 1084px;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  box-sizing: border-box;
  padding-top: 5vw;
  position: relative;
}




.calculate-controls {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  &.disabled {
    opacity: 0.5;
    position: relative;
    &:after {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      content: '';
    }
  }
  &_label {
    font-weight: bold;
    font-size: 22px;
  }
  &_checkboxes {
    padding: 0 10px;
    &_group {
      display: flex;
    }
  }
  &_input {
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #66b2fd;
    line-height: 27px;
    font-family: inherit;
    font-size: 18px;
    padding: 10px 18px;
    width: 170px;
    box-sizing: border-box;
    margin-right: 10px;
    outline: none;
    &.ng-touched.ng-dirty.ng-invalid {
      //border: 1px solid #a00;
    }
  }
  &_button {
    vertical-align: middle;
    background: #9171ff;
    border: 2px solid #dcd4fe;
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    border-radius: 5px;
    padding: 8px 15px;
    font-family: inherit;
    margin: 0 10px;
    cursor: pointer;
    outline: none;
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
    &:not(:disabled) {
      &:hover {
        background: rgba(145, 113, 255, 0.61);
      }
      &:active {
        background: #9181ff;
      }
    }
  }
  &_state {
    font-weight: bold;
    margin: 0.4em;
    font-size: 22px;
    &__error {
      color: #5c0000;
    }
    &__success {
      color: #005c00;
    }
  }
}


.checkbox-decor {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 4px;
  &_input {
    position: absolute;
    right: 100%;
    bottom: 100%;
    opacity: 0;
    margin: 0;
    outline: 0 none;
    &:checked {
      + .checkbox-decor_content {
        border: 0 none;
        margin: 5px;
        position: relative;
        height: 39px;
      }
      ~ .checkbox-decor_outside {
        border-color: #fff;
      }
      ~ .checkbox-decor_checker {
        opacity: 1;
        transform: scale(1);
      }
    }
    &:disabled ~ * {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
  &_checker {
    transition: all 0.1s linear;
    opacity: 0;
    transform: scale(0);
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #5c7afe;
    width: 16px;
    height: 16px;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 16px;
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 3px;
      height: 6px;
      transform: rotate(45deg);
      border-right: 2px solid #5c7afe;
      border-bottom: 2px solid #5c7afe;
      margin-top: -3px;
    }
  }
  &_content {
    margin: 2px;
    border-radius: 3px;
    border: 3px solid #d4e4fe;
    display: block;
    background-color: #fff;
    padding: 9px 5px;
    height: 45px;
    box-sizing: border-box;
    &_img {
      height: 21px;
      vertical-align: middle;
      display: inline-block;
      text-align: center;
      min-width: 24px;
      margin-right: 5px;
      img {
        height: 100%;
      }
    }
    &_text {
      color: #6582a8;
      line-height: 21px;
      vertical-align: middle;
      font-weight: 600;
    }
  }
  &_outside {
    border-radius: 5px;
    display: block;
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    border: 2px solid transparent;
  }

  &__square &_content {
    width: 45px;
    text-align: center;
  }

  &__square &_input:checked ~ &_content {
    width: 39px;
  }

  + .checkbox-decor {
    margin-top: 0;
  }
}

.deposits-tables {
  margin-top: 50px;
  &_item {
    float: left;
    width: 49%;
    box-sizing: border-box;
    &:nth-child(even) {
      margin-left: 2%;
    }
  }
}
.deposits-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.deposits-table {
  font-family: inherit;
  width: 100%;
  th, td {
    text-align: center;
    border-radius: 4px;
    line-height: 20px;
    font-size: 17px;
    height: 40px;
    padding: 5px 10px;
    font-weight: 600;
  }
  th {
    background-color: rgba(0, 0, 0, .2);
  }
  td {
    background-color: rgba(255, 255, 255, .2)
  }
  &_head-link {
    display: block;
    opacity: 0.7;
  }
}

.table-button {
  line-height: 20px;
  padding: 5px 12px;
  border-radius: 3px;
  color: #6481a8;
  font-family: inherit;
  background: #fff;
  border: 1px solid #d8e1ff;
  font-weight: 600;
  box-sizing: border-box;
  min-width: 100%;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.wallet-balances {
  margin-top: 50px;
}
.balance-table {
  font-family: inherit;
  color: #6f6f6f;
  border-spacing: 0 3px;
  width: 100%;
  font-size: 14px;
  td {
    background-color: #f4f4f4;
    padding: 6px 10px;
    line-height: 18px;
  }
  &_label {
    text-transform: uppercase;
    font-weight: 100;
  }
  &_value {
    font-weight: 700;
  }
  &_profit {
    text-align: center;
    &_value {
      font-size: 12px;
      line-height: 1.2em;
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      background-color: #1be541;
      padding: 0 2px;
      &:before {
        float: left;
        margin-left: -24px;
        content: '';
        display: block;
        border: 10px solid transparent;
        margin-top: -7px;
      }
      &__up {
        &:before {
          border-bottom-color: #1be541;
        }
      }
    }
  }
}

.metamask-button-holder {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.metamask-error {
  margin-top: 20px;
  font-weight: bold;
  color: #a00;
  opacity: 0;
  &.active {
    opacity: 1;
  }
}
.metamask-button {
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  border: 0 none;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 20px;
  color: #666;
  opacity: 0.9;
  &:hover {
    opacity: 1;
    color: #222;
  }
  img {
    vertical-align: middle;
    height: 36px;
    margin-right: 10px;
  }
}

.user-address {
  font-weight: 500;
  position: absolute;
  right: 0;
  top: 10px;
  opacity: 0.8;
  font-size: 14px;
  line-height: 20px;
  img {
    vertical-align: middle;
    margin-right: 5px;
    height: 20px;
  }
}

.metamask-network {
  display: inline-block;
  text-align: right;
  //border: 1px solid;
  border-radius: 3px;
  padding: 0 5px;
  font-weight: normal;
  line-height: 1.2em;
  color: #fff;
  &__ropsten {
    background-color: #a00;
  }
  &__mainnet {
    background-color: #0a0;
  }
}
.user-balances {
  text-align: right;
  white-space: nowrap;
  span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
  }
}
